.loader {
    position: absolute;
    left: 43%;
    top: 15rem;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    animation: sidein 1.5s;

}

@keyframes sidein {
    0% {
        margin-left: 0px;
    }
}

.content {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.heading {
    font-size: 120px;
}

.p1 {
    font-size: 30px;
}



.pic {
    margin-top: 15%;
    width: 270px;
    background-image: linear-gradient(#dfa8d5, #46ffe6);
    animation: blobChange 3s infinite alternate ease-in-out;
}


@keyframes blobChange {
    0% {
        border-radius: 50% 100% 50% 100%;
    }

    25% {
        border-radius:  100% 50% 100% 50%;
    }

    50% {
        border-radius: 60% 90% 90% 60% ;
    }

    75% {
        border-radius: 80% 80% 70% 70%;
    }

    100% {
        border-radius:  58% 78% 68% 100%;
    }
}

@media screen and (max-height:840px) and (max-width:500px) {


    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 10px;
    }

    .content {
        width: 100%;
    }

    .heading {
        text-align: center;
        font-size: 100px;
    }

    .image {
        width: 350px;
    }

    .passage {
        height: 10px;
    }

    .p1 {
        text-align: center;
        font-size: 20px;
    }

}
